/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-height: 668px;
  background-color: var(--bg-color);
  font-family: 'IBM Plex mono', monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  color: var(--text-color);
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: start;
}

.header_decoration {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: var(--accent-color);
  z-index: 2;
  margin-top: 10px;
}

.header_decoration-text::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--decorated-zone-color);
  box-shadow: 0 0 4px 2px var(--decorated-zone-color);
  border-radius: 50%;
  margin-left: 10px;
}

.header_decoration .theme-light {
  display: none;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  margin-top: 75px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  margin: 0;
  padding: 1.5px 13px;
  border: none;
  outline: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: var(--decorated-zone-color);
}

.header__theme-menu-button:hover {
  outline-color: var(--decorated-zone-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline-color: var(--decorated-zone-color);
}

.header__theme-menu-button:disabled {
  opacity: 0.6;
  cursor: default;
}

.title-decor {
  grid-row: 2;
  grid-column: 1 / -1;
}

.title-decor_header {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  margin: 65px 0 55px;
}

.title-decor p {
  position: absolute;
  min-width: 355px;
  width: 50vw;
  min-height: 71px;
  height: auto;
  background-color: var(--decorated-zone-color);
  font-weight: bold;
  line-height: 23.4px;
  color: var(--card-title-color);
  right: clamp(10px, 2.5vw, 20px);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.content_section {
  padding: clamp(40px, 10vw, 60px) clamp(10px, 2.5vw, 20px)
    clamp(10px, 2.5vw, 20px);
  font-family: inherit;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: normal;
  color: var(--text-color);
  display: grid;
  gap: 20px;
}

.content_title {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_title {
  min-width: 355px;
  width: calc(100% - 30px);
  background-color: var(--section-title-color);
  color: var(--card-title-color);
}

.card_subtitle {
  min-width: 355px;
  width: calc(100% - 30px);
  background-color: var(--section-title-color);
  color: var(--card-title-color);
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  margin: 10px 0;
}

.card_text {
  font-family: inherit;
  font-weight: normal;
}

.card_text a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  text-shadow: 0.12em 0.12em 0 var(--accent-color);
}

.card_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_section {
  gap: 10px;
}

.gallery_title {
  font-size: 18px;
  font-weight: bold;
  min-width: 355px;
  width: calc(100% - 30px);
  background-color: var(--section-title-color);
  color: var(--card-title-color);
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  min-height: 668px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
