/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  min-height: 668px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: var(--bg-color);
  font-family: "IBM Plex mono", monospace;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
  color: var(--text-color);
}

.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  align-items: start;
}

.header_decoration {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: var(--accent-color);
  z-index: 2;
  margin-top: 10px;
}

.header_decoration-text {
  font-weight: normal;
}


.header_decoration-text::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--decorated-zone-color);
  box-shadow: 0 0 4px 2px var(--decorated-zone-color);
  border-radius: 50%;
  margin-left: 10px;
}

.header_decoration .theme-light {
  display: none;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  margin-top: 75px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
  justify-items: end;
}

.header__theme-menu-button {
  margin: 0;
  padding: 0 13px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: var(--decorated-zone-color)
}

.header__theme-menu-button:hover {
  border-color: var(--decorated-zone-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border-color: var(--decorated-zone-color);
}

.header__theme-menu-button:disabled {
  opacity: 0.6;
  cursor: default;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
}

.title-decor {
  grid-row: 2;
  grid-column: 2;
}

.footer {
  min-height: 668px;
  height: 100vh;
}