:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028; /* * */
  --text-color: #f1b2ce;
  --accent-color: #ff0070; /* * */
  --title-color: #db00ff; /* * */
  --section-title-color: #ff0070; /* * */
  --card-title-color: #000028; /* * */
  --decorated-zone-color: #ff0070; /* * */
}

.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7; /* * */
  --text-color: #353430; /* * */
  --accent-color: #ff8dcb; /* * */
  --title-color: #ffc2e6; /* * */
  --section-title-color: #353430; /* * */
  --card-title-color: #353430; /* * */
  --decorated-zone-color: #353430; /* * */
}

.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028; /* * */
  --text-color: #f1b2ce;
  --accent-color: #ff0070; /* * */
  --title-color: #db00ff; /* * */
  --section-title-color: #ff0070; /* * */
  --card-title-color: #000028; /* * */
  --decorated-zone-color: #ff0070; /* * */
}
